[Desktop Entry]
Name=Help and Tips
Comment=Help and Tips for LogicNexus
Exec=logicnexus-help
Icon=logicnexus-purple
Type=Application
Categories=System;
